<div class="container">

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input
      matInput
      formControlName="title"
      required
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Issue Type</mat-label>
    <mat-select formControlName="type">
      <mat-option
        *ngFor="let type of types"
        [value]="type"
      >
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Priority</mat-label>
    <mat-select formControlName="priority">
      <mat-option
        *ngFor="let priority of priorities"
        [value]="priority"
      >
        {{priority}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Assignee</mat-label>
    <mat-select formControlName="assignee">
      <mat-option
        *ngFor="let candidate of candidates"
        [value]="candidate"
      >
        {{candidate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Descriprion</mat-label>
    <textarea
      matInput
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option
        *ngFor="let status of statuses"
        [value]="status"
      >
        {{status}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Due Date</mat-label>
    <input
      matInput
      [matDatepicker]="picker1"
      formControlName="date"
    >
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

    <div>
      <button
        mat-button
        (click)="cancel()"
      >
        Cancel
      </button>

      <button
        mat-button
        type="submit"
        [disabled]="form.invalid || form.disabled"
      >
        Update
      </button>
    </div>

</form>

</div>
