@import "./app/styles/form.scss";
@import "./app/styles/toast.scss";
@import "./app/styles/nav.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.active {
  background: #0100ca;
}

button {
  cursor: pointer;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #0100ca;
}

.mat-dialog-container {
  margin-bottom: 245px;
}

.mat-dialog-container,
.mat-select-value {
  background: white;
  color: #0100ca;
  font-size: 20px;
  color: black;
}

.mat-icon-button {
  color: #0100ca;
}

textarea {
  color: black;
}
.mat-form-field textarea,
.mat-form-field input {
  font-size: 20px;
}

.mat-fab .mat-button-wrapper {
  padding: 0 !important;
}
